/* Stroyscript */
.ui.segment.storyscript .macbook {
  width: 89%;
}

/* Platform */
.ui.segment.platform .image-container {
  background-image: url('./images/platforms.svg');
  background-repeat: no-repeat;
  background-size: 91% auto;
  background-position: center 160px;
}

.ui.segment.platform .platform-pusher {
  height: 105px;
}

.ui.segment.platform .line {
  margin-left: -1px;
  width: 1px;
  height: 100px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
}

.ui.segment.platform .line.bottom {
  height: 90px;
  top: 29px;
  bottom: auto;
}

.ui.segment.platform .line.bottom.offset {
  margin-left: -5px;
}

.ui.segment.platform .second-row {
  margin-top: 260px;
}

/* Roadmap */
.roadmap .row{
  margin: 40px 0;
  height: 100px;
}
.roadmap .lines .long{
  margin-left: -80px;
}

@media (max-width: 767px) {
  .roadmap .illustation{
    left: -170px !important;
    position: absolute !important;
  }
  .roadmap .steps{
    margin-left: 80px !important;
  }
}

@media (min-width: 767px) {
  .final-cta img{
    margin-left: -80px;
  }
}
