/* Global */
footer{
  padding-bottom: 40px !important;
}
@media only screen and (max-width: 769px) {
  h1.ui.header {
    font-size: 3em !important;
  }
  h2.ui.header {
    font-size: 2.8em !important;
  }
  h3.ui.header {
    font-size: 2.5em !important;
  }
}

/* Stroyscript */
.ui.segment.storyscript .macbook {
  width: 89%;
}

/* Platform */
.ui.segment.platform .image-container {
  background-image: url('./images/platforms.svg');
  background-repeat: no-repeat;
  background-size: 91% auto;
  background-position: center 160px;
}

.ui.segment.platform .platform-pusher {
  height: 105px;
}

.ui.segment.platform .line {
  margin-left: -1px;
  width: 1px;
  height: 100px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
}

.ui.segment.platform .line.bottom {
  height: 90px;
  top: 29px;
  bottom: auto;
}

.ui.segment.platform .line.bottom.offset {
  margin-left: -5px;
}

.ui.segment.platform .second-row {
  margin-top: 260px;
}

/* Roadmap */
.roadmap .row{
  margin: 40px 0;
  height: 100px;
}
.roadmap .lines .long{
  margin-left: -80px;
}
@media (max-width: 1199px) {
  #journey-img{
    opacity: 0.2;
  }
  #roadmap-lines{
    position: absolute;
    opacity: 0 !important;
    display: none !important;
  }
}
@media (max-width: 457px) {
  .roadmap .row:first-child{
    height: 140px;
  }
}
@media (max-width: 767px) {
  .roadmap .illustation{
    left: -170px !important;
    position: absolute !important;
  }
  .roadmap .steps{
    margin-left: 80px !important;
  }
}

/*  Examples */
#examples{
  margin-top: -250px !important;
  margin-bottom: 30px !important;
}
