.ui.mini.social a {
  padding-left: 5px;
  padding-right: 5px;
}

footer {
  padding-bottom: 40px !important;
}

@media only screen and (max-width: 769px) {
  h1.ui.header {
    font-size: 3em !important;
  }
  h2.ui.header {
    font-size: 2.8em !important;
  }
  h3.ui.header {
    font-size: 2.5em !important;
  }
}


@media only screen and (max-width: 500px) {

  .banner-top-image{
    width: 100%;
  }
  #examples{
    margin-top: 0px !important;
  }
  .5x {
    margin-bottom: 0px !important;
  }
  h4.ui.header{
    font-size: 16px;
  }
  a.button{
    margin-bottom: 10px !important;
  }
  .ui.segment.platform .second-row{
    margin-top: 0px;
  }
  .platform .row:first-child{
    margin-top: -60px;
  }
  .ui.grid>[class*="three wide"].column{
    width: 45% !important;
  }
}
