#mobile-nav-container {
  margin-top:50px;
  position: absolute;
  padding: 20px 30px 30px 0px;
  width: 100%;
  z-index: 100;
}
.mobile-item {
  display: inline-block;
  padding-top: 20px;
  font-size: 1.5em;
  clear: both;
  float: right !important;
  text-align: right !important;
}
.faded{
  opacity: 0.1;
}
@media only screen and (min-width: 769px) {
  .mobile {
      display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .computer-nav {
      display: none !important;
  }
}
