@import "~@storyscript/vue/dist/storyscript-vue.css";
@import "~@storyscript/vue/src/scss/variables/index";
// @import "~bulma/sass/utilities/mixins";

#storyscript {
  min-height: 100vh;
  height: auto;
}

html {
  overflow-y: auto;
}

.container {
  @include touch {
    padding: 1rem;
  }
}

pre {
  background-color: nth($grays, 1);
  border-radius: .625rem;
  padding: 1rem 1.75rem;
  font-size: .85rem;

  code {
    color: $white;
  }
}