@import "~@asyncy/vue/dist/asyncy-vue.css";
@import "~@asyncy/vue/src/scss/variables/index.scss";
@import "~bulma/sass/utilities/mixins";

#asyncy {
  min-height: 100vh;
  height: auto;
}

html {
  overflow-y: auto;
}

.container {
  @include touch {
    padding: 1rem;
  }
}