{{> header}}

<!-- Jumbo -->
<div class="ui 5x margin basic segment">
  <h1 class="ui header huge">
    About Us
    <span class="sub header">
      Our mission is to bring to everyone the power of microservices
    </span>
  </h1>
</div>

<div class="ui 5x margin center aligned basic segment">
  <h2>Our Story</h2>

  <p>
    It begins with Storyscript, our domain-specific language.
    Years back while working on applications for small businesses customers asked for unique, long-running business logic to automate marketing and customer retention, among other business logic. These stories were written down in a format that the client could read and understand the logic behind the application.
    A transparent, syntax-light, language emerged through the common logic patterns that read like a book.
    Storyscript was born and paved the way for a new technique of rapidly prototyping applications.
  </p>

</div>

{{> footer}}
