{{> header}}

<!-- Jumbo -->
<div class="ui basic segment">
  <h1 class="ui header huge">
    Blog
  </h1>
</div>

<div class="ui horizontal spaced segments">
  {{#blogs}}
    <div class="ui rainbow segment">
      <img src="https://semantic-ui.com/images/avatar2/large/matthew.png" width="200">
      <h2 class="ui header">
        <a href="https://github.com/{{author.handler}}">
          <img class="ui tiny top aligned circular image" src="https://avatars1.githubusercontent.com/u/{{author.id}}?s=80&v=4">
          by {{author.name}}
          <span class="sub header">
            {{date}}
          </span>
        </a>
      </h2>
      <h3 class="ui header">
        {{title}}
      </h3>
      <p>{{description}}</p>
      {{#topics}}
        {{.}}
      {{/topics}}
  </div>
  {{/blogs}}
  {{^blogs}}
    <h2>Coming soon</h2>
  {{/blogs}}
</div>

{{> footer}}
