{{> header}}

<!-- Jumbo -->
<div class="ui 5x margin basic segment">
  <h1 class="ui header huge">
    Get Involved
  </h1>
</div>

<div class="ui 5x margin center aligned basic segment">



</div>

{{> footer}}
