{{> header}}

<!-- Jumbo -->
<div class="ui 5x margin basic segment">
  <h1 class="ui header huge">
    Get Involved
  </h1>
</div>

<div class="ui 5x margin center aligned basic segment">
    <h2>Contributing</h2>
    <p>
        Asyncy is an open source effort and as such, contributors are welcome. There
        are a number of projects that you can contribute to. You can find more details
        on how on the specific repositories:
    </p>
    <ul>
        <li>Asyncy: the execution engine for Storyscript, in Python (link)</li>
        <li> Storyscript: the parser for Storyscript (link)</li>
        <li>Services: you can also contribute to one of the services/docker apps</li>
    </ul>
</div>

{{> footer}}
