{{> header}}

<!-- Jumbo -->
<div class="ui basic segment">
  <h1 class="ui header huge">
    Events
  </h1>
</div>

<div class="ui 4x margin segment">
  <div class="ui rainbow segment">
    <h4>Asyncy Drinkup - April 12 - Amsterdam</h4>
    <p>
      Drink and mingle with the Asyncy Team and developer community.
    </p>
    <a href="https://www.meetup.com/Asyncy/events/pvbdlpyxgbqb/" class="ui button link">RSVP on EventBrite</a>
  </div>
  <div class="ui rainbow segment">
    <h4>Asyncy Launch Party - Late September - Amsterdam</h4>
    <p>
      Join us for the official beta launch of Asyncy.
      Meet the team, launch your first applications and boat around the canals!
    </p>
    <a class="ui button link typeform-share link" href="https://asyncy.typeform.com/to/ySbpV8" data-hide-footer=true data-hide-header=true data-mode="drawer_right" target="_blank">RSVP</a>
  </div>
</div>

{{> footer}}
