{{> header}}

<!-- Jumbo -->
<div class="ui basic segment">
  <h1 class="ui header huge">
    FAQ
  </h1>
</div>

{{#questions}}
<div class="ui rainbow segment">
  <h3>{{question}}</h3>
  {{answer}}
</div>
{{/questions}}


{{> footer}}
