{{> header}}

<!-- Jumbo -->
<div class="ui basic segment">
  <h1 class="ui header huge">
    FAQ
  </h1>
</div>

<div class="ui 4x margin segment">
  <div class="ui rainbow segment">
    <h4>What are microservices?</h4>
    <p>
      <a href="https://en.wikipedia.org/wiki/Microservices">Microservices Wikipedia page</a> is a great place to start.
    </p>
  </div>
  <div class="ui rainbow segment">
    <h4>Who maintains the microservices?</h4>
    <p>
      The project contributors maintain the service.
      This may be open-source projects, vendor built projects, or private projects.
      To have a service compatible with Asyncy there is very litle configuration required, <a href="https://github.com/asyncy/docker-template">learn more here</a>.
    </p>
  </div>
  <div class="ui rainbow segment">
    <h4>Why use a domain-specific language?</h4>
    <p>
      We believe a syntax-light language that is highly readable is important.
      Asyncy aims to reduce complexity, so our language should represent this.
      After exploring other languages such as Node, Python, and Java we found a number of issues that required us to "think differently".
    </p>
  </div>
  <div class="ui rainbow segment">
    <h4>How difficult is it to build my own services?</h4>
    <p>
      Use any programming language necessary to build your service just like you would a library, package, or application.
      To have a service compatible with Asyncy there is very litle configuration required, <a href="https://github.com/asyncy/docker-template">learn more here</a>.
    </p>
  </div>
  <div class="ui rainbow segment">
    <h4>Can I bring my own database?</h4>
    <p>
      Yes, this is actually the only way.
      Asyncy is a platform for execution and we do not provide the underlining services.
      But we make it really easy to create them, however, you have to manage your own database.
    </p>
    <p>
      We recommend using <a href="https://www.heroku.com/postgres">Heroku Postgres</a>, <a href="https://aws.amazon.com/rds/">Amazon RDS</a>, <a href="https://redislabs.com/">RedisLabs</a> or <a href="https://www.cloudamqp.com/">CloudAMQP</a> just to name a few.
    </p>
  </div>
  <div class="ui rainbow segment">
    <h4>How much Kubernetes or devops experience is required?</h4>
    <p>
      Little to none. Asyncy interacts with Kubernetes so you don't need to.
      It manages scaling, security, routing, networks and much more.
    </p>
  </div>
  <div class="ui rainbow segment">
    <h4>Can my Storyscripts and custom services be private code?</h4>
    <p>
      Yes, no problem. You can blend private and public source code as well.
    </p>
  </div>
  <div class="ui rainbow segment">
    <h4>How fast is the Asyncy Engine?</h4>
    <p>
      Microservices are slower than single-threaded applications.
      But with proper design this difference in speed is not noticable.
      Asyncy adds very little overhead with Storyscript execution and uses the best practices to have container execute as quickly as possible.
    </p>
  </div>
  <div class="ui rainbow segment">
    <h4>What are some current limitations to Asyncy?</h4>
    <p>
      Time-sensitive HTTP traffic should not be synchronously bound to a Storyscript execution.
      This was a known limitation from the start, but comes at no surprise. Building UI pages needs to be handled
      by a threaded server. However, Asyncy des provides a "serverless" environment simular to AWS Lambda.
    </p>
  </div>
  <div class="ui rainbow segment">
    <h4>Where are Storyscript's and other code stored?</h4>
    <p>
      Asyncy relies on GitHub for many things including storing source code.
      This has significant benifits with portability, version controlling and security.
    </p>
  </div>
  <div class="ui rainbow segment">
    <h4>How are user permissions handled?</h4>
    <p>
      Asyncy relies on GitHub as user authentication and permission.
      This has significant benifits to the platform and a powerful level of security and team transparency.
      We use GitHub Teams as a granular permission scope.
    </p>
  </div>
</div>

<div class="ui center aligned 5x margin basic segment">
  <a class="ui massive primary button typeform-share link" href="https://asyncy.typeform.com/to/ygn7vG" data-mode="drawer_right" data-hide-headers=true data-hide-footer=true data-submit-close-delay="3" target="_blank">
    Ask a question
  </a>
</div>


{{> footer}}
