
      <div class="ui divider"></div>

      <!-- Footer -->
      <footer class="ui basic segment">
        <div class="ui 5x margin grid">
          <div class="three wide column">
            <div class="ui inverted vertical massive text menu">
              <div class="text teal header item">PRODUCT</div>
              <!-- <a href="./overview.html" class="item">Overview</a> -->
              <a href="./faq.html" class="item">FAQ</a>
              <a class="item typeform-share button" href="https://asyncy.typeform.com/to/deaLvw" data-mode="drawer_right" data-hide-headers=true data-hide-footer=true target="_blank">Give Feedback</a>
              <!-- <a href="./changelog.html" class="item">Changelog</a> -->
            </div>
          </div>
          <div class="three wide column">
            <div class="ui inverted vertical massive text menu">
              <div class="text olive header item">SUPPORT</div>
              <a href="http://asyncy.click/slack" class="item">Slack</a>
              <a href="https://github.com/asyncy" class="item">GitHub Issues</a>
            </div>
          </div>
          <div class="three wide column">
            <div class="ui inverted vertical massive text menu">
              <div class="text orange header item">RESOURCES</div>
              <!-- <a href="https://blog.asyncy.com" class="item">Blog</a> -->
              <a class="item" href="events.html">Events</a>
            </div>
          </div>
          <div class="three wide column">
            <div class="ui inverted vertical massive text menu">
              <div class="text green header item">COMPANY</div>
              <!-- <a href="./about.html" class="item">About Us</a> -->
              <a href="./jobs.html" class="item">
                Jobs <span class="text pink">(We're hiring!)</span>
              </a>
              <!-- <a href="./team.html" class="item">Team</a> -->
              <a class="item typeform-share button" href="https://asyncy.typeform.com/to/GAr52V" data-mode="drawer_right" data-hide-headers=true data-hide-footer=true target="_blank">Contact Us</a>
              <a class="item typeform-share link" href="https://asyncy.typeform.com/to/TgCuNU" data-mode="drawer_right" data-hide-headers=true data-hide-footer=true target="_blank">Partners</a>
            </div>
          </div>
        </div>

        <div class="ui two column stackable grid">
          <div class="tablet only computer only column">
            <img src="assets/images/logo.svg" class="ui logo" />
          </div>
          <div class="right aligned column">
            <div class="ui mini social images">
              <a href="http://asyncy.click/slack">
                <img src="assets/images/slack.svg" />
              </a>
              <a href="https://github.com/asyncy">
                <img src="assets/images/github.svg" />
              </a>
              <a href="https://twitter.com/asyncy">
                <img src="assets/images/twitter-logo.svg" />
              </a>
            </div>
          </div>
        </div>
        <div class="ui divider"></div>

        <div class="ui two column stackable grid">
          <div class="column">
            <div class="netguru-credits">
              Designed by
              <a href="http://asyncy.click/netguru" class="link">
                <img src="assets/images/ng-logo.svg" class="netguru-logo" />
                <strong>Netguru</strong>
              </a>
            </div>
          </div>
          <div class="right aligned column">
            <p class="text grey">
              Copyright &copy; 2018 Asyncy. All Rights Reserved.
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.6/typed.min.js"></script> -->
    <!-- <script src="semantic/dist/semantic.min.js" asyncy></script> -->

    <!-- Animated Scroll -->
    <script type="text/javascript">
      var wow = new WOW(
        {
          boxClass: 'animate',
          offset: 100
        }
      ).init();
    </script>

  </body>
</html>
