<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Asyncy</title>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no">
    <meta property="og:url" content="https://asyncy.com">
    <meta property="og:site_name" content="Asyncy">
    <meta property="og:title" content="Write stories then code.">
    <meta property="og:description" content="Asyncy is the platform for microservice choreography. Rapidly prototype applications into production with choreographed microservices.">
    <link rel="icon" type="image/x-icon" class="js-site-favicon" href="assets/images/favicon.png">
<!--     <meta property="og:image" content="">
    <meta property="og:image:type" content="">
    <meta property="og:image:width" content="">
    <meta property="og:image:height" content=""> -->
    <link rel="stylesheet" type="text/css" href="assets/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <script>
    function toggleBurger() {
      mobileContainer = document.getElementById("mobile-nav-container");
      mainContainer = document.getElementById("main-container");
      if (mobileContainer.hasAttribute('style') === true){
        mobileContainer.removeAttribute('style');
        mainContainer.className += " faded";

      } else {
        mobileContainer.setAttribute('style', 'display: none');
        mainContainer.className = "ui container";
      }
    }
    </script>
  </head>
  <body>
    <div class="ui container">

      <!-- Menu -->
      <div class="ui main menu computer-nav">

        <a href="/" class="header item">
          <img src="assets/images/logo.svg" class="ui logo" />
        </a>


        <div class="right item">
          <!-- <a href="./overview.html" class="item">How it works</a>
          <a href="./contribute.html" class="item">Get involved</a> -->
          <a href="./faq.html" class="item">FAQ</a>
          <a class="item typeform-share button" href="https://asyncy.typeform.com/to/GAr52V" data-mode="drawer_right" data-hide-headers=true data-hide-footer=true target="_blank">Contact</a>
          <a class="item typeform-share button" href="https://asyncy.typeform.com/to/deaLvw" data-mode="drawer_right" data-hide-headers=true data-hide-footer=true target="_blank">Give Feeback</a>
        </div>

      </div>

      <div class="ui main menu mobile">
        <a href="/" class="header item">
          <img src="assets/images/logo.svg" class="ui logo" />
        </a>
        <div style="float: right" class="hamburger right item" onClick="toggleBurger()"><img src="assets/images/burger.png"></div>
        <div id="mobile-nav-container" style="display: none">
          <a href="./faq.html" class="mobile-item item">FAQ</a><br>
          <a class="mobile-item item typeform-share button" href="https://asyncy.typeform.com/to/GAr52V" data-mode="drawer_right" data-hide-headers=true data-hide-footer=true target="_blank">Contact</a><br>
          <a class="mobile-item item typeform-share button" href="https://asyncy.typeform.com/to/deaLvw" data-mode="drawer_right" data-hide-headers=true data-hide-footer=true target="_blank">Give Feeback</a>
        </div>
      </div>

    </div>
    <div id="main-container" class="ui container">
