{{> header}}

<!-- Jumbo -->
<div class="ui basic center aligned 10x margin segment">
  <h1 class="ui header huge animated flipInX">
    Introducing Asyncy
    <span class="sub header">Write stories, then code.</span>
  </h1>
  <img src="assets/images/introduction.svg" class="ui huge" width="462" />
  <h3 class="ui large header">
    <span class="sub header">
      The open source platform for
    </span>
    Microservice Choreography
  </h3>
  <p>
    Microservice Choreography is an architecture layer above orchestration<br>
    eliminating service coupling and seperates logic from code with limited to no devops.<br>
    Perfect for rapid application prototyping to production.
  </p>
</div>

<div class="ui divider"></div>

<!-- Storyscript -->
<div class="ui basic 10x margin segment center aligned storyscript" id="storyscript">
  <h1 class="ui header">
    Meet Storyscript
    <span class="sub header">
      Syntax-light for readability.
    </span>
  </h1>

  <div class="5x margin">
    <img class="ui centered image macbook animate slideInLeft" data-wow-offset="200" src="assets/images/macbook.svg" />
  </div>

  <div class="ui equal width grid left aligned" id="examples">
    <div class="column">
      <div class="ui yellow segment">
        <h4 class="ui header">Applications</h4>
        <p>
          Quickly prototype applications in a production-grade platform powered by microservices.
          Perfect for <strong>backends and APIs</strong>.
        </p>
        <!-- <div class="ui right floated">
          <button class="ui inverted yellow button">See Example</button>
        </div> -->
      </div>
    </div>
    <div class="column">
      <div class="ui blue segment">
        <h4 class="ui header">Automation</h4>
        <p>
          Transparent, long-running logic for customer retention and marketing automation.
          Perfect for <strong>social media and cron jobs</strong>.
        </p>
        <!-- <div class="ui right floated">
          <button class="ui inverted blue button">See Example</button>
        </div> -->
      </div>
    </div>
    <div class="column">
      <div class="ui pink segment">
        <h4 class="ui header">Integration</h4>
        <p>
          Seamlessly connect services and applications with reusable containers.
          Perfect for <strong>devops, webhooks and bots</strong>.
        </p>
        <!-- <div class="ui right floated">
          <button class="ui inverted pink button">See Example</button>
        </div> -->
      </div>
    </div>
  </div>

  <div class="ui basic segment animate bounceIn">
    <a href="http://storyscript.org" class="ui huge button">
      Learn Storyscript
    </a>
    <a class="ui huge blue button typeform-share link" href="https://asyncy.typeform.com/to/JnyOWM" data-mode="drawer_right" data-hide-headers=true data-hide-footer=true data-submit-close-delay="5" target="_blank">
      Share your Story
    </a>
  </div>
</div>

<div class="ui divider"></div>

<!-- Platform -->
<div class="ui basic center aligned 10x margin segment platform">
  <h1 class="ui header center aligned">
    Asyncy Platform
    <span class="sub header">
      Batteries included, no assembly required.
    </span>
  </h1>
  <div class="image-container">
    <div class="ui 4x margin equal width grid">
      <div class="row">
        <div class="column animate slideInDown">
          <div class="ui small header text yellow">Emporium</div>
          <div class="column-text">
            Discover community services<br>or create private services.
          </div>
          <div class="platform-pusher"></div>
          <div class="line"></div>
        </div>
        <div class="column animate slideInDown">
          <div class="offset">
            <div class="ui small header text pink">Storyscript</div>
            <div class="column-text">
              Write application logic<br>
              that choreographs microservices.
            </div>
            <div class="platform-pusher"></div>
            <div class="line"></div>
          </div>
        </div>
        <div class="column"></div>
      </div>
      <div class="row second-row">
        <div class="column"></div>
        <div class="column animate slideInUp">
          <div class="line bottom"></div>
          <div class="platform-pusher"></div>
          <div class="ui small header text olive">CI/CD Simulator</div>
          <div class="column-text">
            Test, debug, deploy<br>and simulate Stories.
          </div>
        </div>
        <div class="column animate slideInUp">
          <div class="line bottom offset"></div>
          <div class="platform-pusher"></div>
          <div class="ui small header text green">Engine</div>
          <div class="column-text">
            Deploy into an orchestrated,<br>scallable environment.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui basic segment animate bounceIn">
    <a class="ui huge button typeform-share button" href="https://asyncy.typeform.com/to/deaLvw" data-mode="drawer_right" data-hide-headers=true data-hide-footer=true target="_blank">
      Give Feedback
    </a>
    <!--
    <a href="/overview" class="ui huge button">
      Learn how it works
    </a>
  -->
  </div>
</div>

<div class="ui divider"></div>

<!-- Open Sourse -->
<div class="ui basic 10x margin segment open-source">
  <h2 class="ui header center aligned">
    Open Source
    <span class="sub header">
      Run the Asyncy Platform in any environment.
    </span>
  </h2>
  <div class="ui stackable grid items">
    <div class="four wide column center aligned item">
      <div class="middle aligned content">
        <img src="assets/images/aws-logo.png" width="75" class="logo aws-logo animate bounceIn" alt="Amazon Web Services" />
      </div>
    </div>
    <div class="four wide column computer center aligned item">
      <div class="middle aligned content">
        <img src="assets/images/cloud-platform-logo.png" width="192" class="logo cloud-platform-logo animate bounceIn" alt="Google Cloud Platform" />
      </div>
    </div>
    <div class="four wide column center aligned item">
      <div class="middle aligned content">
        <img src="assets/images/digital-ocean-logo.png" width="135" class="logo digital-ocean-logo animate bounceIn" alt="DigitalOcean" />
      </div>
    </div>
    <div class="four wide column center aligned item">
      <div class="middle aligned content">
        <img src="assets/images/azure-logo.png" width="85" class="logo azure-logo animate bounceIn" alt="Microsoft Azure" />
      </div>
    </div>
  </div>
  <h2 class="ui header center aligned">
    <span class="sub header">And locally OR on our hosted cloud.</span>
  </h2>
</div>
<div class="ui divider"></div>

<!-- Roadmap -->
<div class="ui basic 10x margin segment roadmap">
  <h1 class="ui header center aligned">
    Roadmap
    <span class="sub header">
      Our choreographed journey.
    </span>
  </h1>

  <div class="ui stackable grid">
    <div class="five wide column illustation">
      <img id="journey-img" src="assets/images/journey.svg" width="350" async />
    </div>
    <div id="roadmap-lines" class="one wide tablet only computer only column lines">
      <div class="ui row">
        <div class="ui divider long animate fadeIn" data-wow-delay="1000ms"></div>
      </div>
      <div class="ui row">
        <div class="ui divider long animate fadeIn" data-wow-delay="800ms"></div>
      </div>
      <div class="ui row">
        <div class="ui divider long animate fadeIn" data-wow-delay="600ms"></div>
      </div>
      <div class="ui row">
        <div class="ui divider animate fadeIn" data-wow-delay="400ms"></div>
      </div>
    </div>
    <div class="nine wide column steps">
      <div class="ui row animate fadeInRight" data-wow-delay="800ms">
        <div class="ui small header">
          Public Beta Launch
          <div class="ui left pointing label">October 26, 2018</div>
        </div>
        <p>
          Featured at <b>Asyncy MicroCon in Amsterdam</b>
        </p>
        <p>
          <a class="ui button inverted pink typeform-share link" href="https://asyncy.typeform.com/to/ySbpV8" data-hide-footer=true data-hide-header=true data-mode="drawer_right" target="_blank">Free Admission</a>
        </p>
      </div>
      <div class="ui row animate fadeInRight" data-wow-delay="600ms">
        <div class="ui small header">
          Private Alpha Launch
          <div class="ui left pointing label">July 2018</div>
        </div>
        <p>
          <a class="ui button inverted basic typeform-share link" href="https://asyncy.typeform.com/to/nZTDu7" data-hide-footer=true data-hide-header=true data-mode="drawer_right" target="_blank">Request Invite</a>
        </p>
      </div>
      <div class="ui row animate fadeInRight" data-wow-delay="400ms">
        <div class="ui small header">
          Hub & Emporium
          <div class="ui left pointing blue label">June 2018</div>
          <div class="sub header">
            With Storyscript as the backend.
          </div>
        </div>
      </div>
      <div class="ui row animate fadeInRight" data-wow-delay="200ms">
        <div class="ui small header">
          Storyscript & Engine
          <div class="ui left pointing blue label">April 2018</div>
          <div class="sub header">
            Run Storyscripts in development.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui divider"></div>

<!--
<div class="ui basic 10x margin segment ecosystem">
  <h2 class="ui header center aligned">
    Ecosystem
    <span class="sub header">Get involved and join our growing team</span>
  </h2>
  <div class="ui grid link cards">
    <div class="four column row">
      <div class="column">
        <div class="card fluid">
          <div class="image">
            <img src="assets/images/slack.svg" />
          </div>
          <div class="content">
            <div class="header">
              Join Slack Team
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card fluid">
          <div class="image">
            <img src="assets/images/storyscript.svg" />
          </div>
          <div class="content">
            <div class="header">
              Write Stories
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card fluid">
          <div class="image">
            <img src="assets/images/box.svg" />
          </div>
          <div class="content">
            <div class="header">
              Build Microservices & Functions
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card fluid">
          <div class="image">
            <img src="assets/images/github.svg" />
          </div>
          <div class="content">
            <div class="header">
              Contribute to OSS
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui divider"></div>
-->


<!-- CTA -->
<div class="ui basic 10x margin segment final-cta">
  <div class="ui stackable grid">
    <div class="seven wide column">
      <img src="assets/images/in-touch.svg" width="420" class="animate slideInLeft" />
    </div>
    <div class="nine wide column">
      <h2 class="ui header">
        Take the red pill.
        <span class="sub header">Stay in wonderland and see how far this goes.</span>
      </h2>
      <div class="ui stackable grid">
        <div class="row">
          <div class="column">
            <form data-netlify="true" class="ui form" name="Landing" novalidate="" method="POST">
              <div class="ui huge fluid action input">
                <input type="email" name="EMAIL" pattern="/^[a-zA-Z0-9+-_]+(\.[_a-zA-Z0-9+]+)*@[a-zA-Z0-9+-_]+(\.[a-zA-Z0-9+-_]+)*(\.[a-zA-Z]+)$/" placeholder="E-mail goes here..." aria-required="true" required="required">
                <button type="submit" class="ui large red button">
                  Join
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="one column row">
          <div class="column">
            OR find us here:
          </div>
        </div>
        <div class="one column row">
          <div class="column">
            <div class="ui mini social images">
              <a href="http://asyncy.click/slack">
                <img src="assets/images/slack.svg" />
              </a>
              <a href="https://github.com/asyncy">
                <img src="assets/images/github.svg" />
              </a>
              <a href="https://twitter.com/asyncy">
                <img src="assets/images/twitter-logo.svg" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}
