{{> header}}

<!-- Jumbo -->
<div class="ui basic 10x margin segment">
  <h1 class="ui header huge">
    Jobs
  </h1>
</div>

<div class="ui center aligned basic segment">
  <div class="ui small header">
    Our mission is to bring to everyone the power of microservices.
  </div>
  <p>
    Join our passionate team in Amsterdam (or remote) building
    awesome open-source developer tools.
  </p>
</div>

<div class="ui very padded basic segment">
  <script data-startup="asyncy" src="https://angel.co/javascripts/embed_jobs.js" id="angellist_embed" async></script>
</div>

<div class="ui center aligned 5x margin basic segment">
  <a href="https://angel.co/asyncy/jobs" class="ui massive button">
    View on Angel.co
  </a>
</div>

{{> footer}}
