{{> header}}

<!-- Jumbo -->
<div class="ui basic spaced segment">
  <h1 class="ui header huge">
    Jobs
    <div class="sub header">
      Our mission is to bring to everyone the power of microservices.
    </div>
  </h1>
  <p>
    Join our passionate team in Amsterdam (or remote) building
    awesome open-source developer tools.
  </p>
</div>

<script data-startup="asyncy" src="https://angel.co/javascripts/embed_jobs.js" id="angellist_embed" async></script>

<div class="ui spaced basic segment">
  <a href="https://angel.co/asyncy/jobs" class="ui huge button">
    View on Angel.co
  </a>
</div>

{{> footer}}
