{{> header}}

<!-- Jumbo -->
<div class="ui basic segment">
  <h1 class="ui header huge">
    Overview
  </h1>
</div>

<div class="ui 5x margin basic segment">

  

  <div class="ui center aligned 5x margin basic segment">
    <a href="#" class="ui massive button">
      Read the pitch
    </a>
  </div>

</div>


{{> footer}}
